.text-adaptation input {
  width: 15px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
}

.text-adaptation input.active {
  background-color: rgba(0, 0, 0, 0.1);
}
